#slider {
  position: relative;
  margin: auto;
  margin-top: 20px;
  height: 500px;
  border: 5px black solid;
  overflow: hidden;
  @media (max-width: 767px) {
    height: fit-content !important;
  }
}

#wrapper {
  width: 400%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  .content {
    float: right;
    width: 25%;
    height: 100%;
    img {
      width: 100%;
    }
  }
}

#navLinks {
  text-align: center;
  position: absolute;
  top: 0;
  right: 45%;
  ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
    li {
      float: right;
      text-align: center;
      margin: 10px;
      padding: 5px;
      cursor: pointer;
      background-color: #ccc;
      list-style: none;
      border: black 5px solid;
      border-radius: 50%;
      &:hover {
        background-color: #ff0;
      }
    }
    li.active {
      background-color: #333;
      &:hover {
        background-color: #484848;
      }
    }
  }
}
