/* Start About Me */
.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: 767px) {
    display: block;
    text-align: center;
  }

  .info-box {
    flex: 1;
    padding: 30px;

    @media (max-width: 767px) {
      padding: 0;
    }

    h2 {
      font-weight: bold;
      font-size: 30px;
      color: var(--main-color);
      margin: 0 0 10px;
    }

    p {
      line-height: 1.8;
      color: #767676;
      margin: 0;
    }
  }

  .image-box {
    flex: 1;
    text-align: center;
    align-self: center;

    img {
      width: 250px;
    }
  }
}
/* End About Me */
