/* Start boxes*/
#boxes {
  background-color: #eee;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #eee;
    @media (max-width: 575px) {
      margin: 10px 20px;
      flex-direction: column;
    }
  }
  .box {
    text-align: center;
    margin-bottom: 25px;
    background-color: #fff;
    padding: 50px 20px 34px 20px !important;
    width: 100%;
    border-radius: 10px;

    &:nth-child(2),
    &:nth-child(2) {
      margin-left: 10px;
    }

    h3 {
      line-height: 1.5;
    }

    p {
      line-height: 2;
    }

    @media (max-width: 575px) {
      &:nth-child(2),
      &:nth-child(3) {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}
/* End boxes*/
