/* Start Skills */
.skills {
  padding-bottom: 50px;
  background-color: #eee;
  
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
  }

  .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    align-items: center;

    @media (max-width: 767px) {
      display: block;
    }

    .skill-name {
      font-weight: bold;
      width: 140px;
      text-align: center;
      line-height: 30px;

      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .skill-progress {
      height: 30px;
      width: 100%;
      background-color: #eee;
      border-radius: 6px;
      position: relative;
      overflow: hidden;

      span {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--main-color);
        transition: all 0.5s;
      }
    }
  }
}
